@import "../../common.scss";

/**Header**/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 55px 0 10px;
  transition: background 0.3s ease-out;
  -webkit-transition: background 0.3s ease-out;
  // background: linear-gradient(96.13deg, #04bc2c 4.19%, #01bfc2 97.55%);
  z-index: 111;

  @media (max-width: 991px) {
    padding: 0;
  }
}

#main_menu {
  @media (max-width: 991px) {
    display: none;
  }
}

.main_menu {
  @media (max-width: 991px) {
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  li {
    &:not(:last-child) {
      @media (max-width: 991px) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding: 0px 15px;
      text-transform: uppercase;
      text-decoration: none;

      @media (max-width: 991px) {
        padding: 14px 0;
        display: block;
      }
    }

    &.active {
      a {
        font-weight: 700;
      }
    }
  }
}


// Banner
.banner_sec {
  background: white;
  padding: 174px 0 0px;
  min-height: 100%;
  overflow: hidden;

  @media (max-width: 991px) {
    padding-top: 100px;
  }

  @media (max-width: 575px) {
    padding: 74px 0 0px;
  }

  .banner_wrap {
    // margin: 0 50px 0 50px;
  }
}

.introduction_section {
  padding: 118px 158px;
  margin: auto;

  @media (max-width: 1400px) {
    padding: 118px 80px;
  }

  @media (max-width: 1200px) {
    padding: 118px 20px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width:991px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 575px) {
    padding: 46px 20px;
  }
}

.monkey_container {
  border-radius: 175px;
  height: 350px;
  width: 350px;
  overflow: hidden;
  display: flex;
  position: relative;

  @media (max-width: 575px) {
    border-radius: 175px;
    height: 300px;
    width: 300px;
  }
}

.monkey {
  position: absolute;
  left: -76px;
  right: 0px;
  top: 0px;
  height: 516px;
  width: 496px;

  @media (max-width: 575px) {
    left: -65px;
    height: 480px;
    width: 426px;
  }
}

.introduction_line1 {
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */

  /* Black */
  color: #000000;
}

.introduction_line2 {
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  /* identical to box height, or 114% */

  /* Black */
  color: #000000;
}

.introduction_line3 {
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */

  /* White */
  color: #FFFFFF;
  background-color: #000000;
  display: inline-flex;
  padding: 5px;
}

.introduction_line4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  /* Black */
  color: #000000;
}

.introduction_line5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
  border: 2px solid black;
  padding: 4px 16px;
  display: inline-flex;
  cursor: pointer;
}

.introduction_lines {
  max-width: 465px;

  @media (max-width:991px) {
    margin-top: 50px;
  }
}

.social_container {
  display: flex;
  flex-direction: row;
  max-width: 384px;
  justify-content: space-between;
  margin: auto;

  @media (max-width: 575px) {
    margin-top: 50px;
    max-width: 334px;
  }
}

.social_media_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  margin-right: 8px;

  &:hover {
    color: #000000;
  }
}

.lets_turn_idea_container {
  display: flex;
  padding: 131px 0 201px 0;
  align-items: center;
  justify-content: center;

  @media (max-width: 575px) {
    padding: 100px 0 160px 0;
  }
}

.idea_outer_container {
  border: 2px solid black;
  padding: 6px;
  width: 960px;
  height: 358px;

  @media (max-width:1200px) {
    width: 880px;
  }
  @media (max-width: 575px) {
    width: 340px;
  }
}

.idea_inner_container {
  border: 2px solid black;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 57px 0;
}

.idea_line1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  /* or 111% */
  text-align: center;

  color: #000000;
}

.idea_line2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;

  border: 2px solid black;
  padding: 4px 60px;
  display: inline-flex;
  cursor: pointer;
}

.idea_line3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;

  /* Black */
  color: #000000;
}

.about_me_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 168px 257px;

  @media (max-width: 1400px) {
    padding: 0px 78px 257px;
  }

  @media (max-width: 1200px) {
    padding: 0px 0px 257px;
  }

  @media (max-width: 991px) {
    flex-direction: column;
    padding: 0px 0px 200px;
  }

  @media (max-width: 575px) {
    padding: 0px 0px 100px;
    flex-direction: column;
  }
}

.karla {
  width: 424px;
  height: 515.68px;

  @media (max-width: 575px) {
    width: 340px;
    height: 381px;
  }
}

.about_me_lines {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 991px) {
    padding: 30px 0 30px 0
  }

  @media (max-width: 575px) {
    padding: 30px
  }
}

.about_me_line1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;

  color: #000000;
 
}

.about_me_line2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  color: #000000;
  @media (max-width: 768px) {
    // font-size: 1px;
  }
}

.software_skills_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.software_line1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;

  color: #000000;
  padding-bottom: 8px;
  border-bottom: 2px solid black;
  display: inline-flex;
  margin: auto;

}

.software_line2 {
  margin-top: 75px;
  text-align: center;

  @media (max-width: 575px) {
    display: none;
  }
}

.software_line2_mobile {
  margin-top: 75px;
  text-align: center;

  @media (min-width: 575px) {
    display: none;
  }
}

.projects {
  padding: 229px 0 100px 0;
  @media (max-width: 768px) {
    padding: 169px 0 50px 0;

  }
  @media (max-width: 575px) {
    display: flex;
    flex-direction: column;
    padding: 129px 0 50px 0;
    align-items: center;
  }
  
}

.project_container {
  width: 1164px;
  height: 249px;
  margin-left: auto;
  // margin-right: auto;
  border: 2px solid #000000;
  margin-bottom: 300px;
  position: relative;
  padding: 32px;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1400px) {
    width: 1000px;
    height: 249px;
  }

  @media (max-width: 1280px) {
    width: 960px;
    height: 249px;
  }
  @media (max-width: 1200px) {
    width: 860px;
    height: 249px;
  }
  @media (max-width: 991px) {
    width: 768px;
    // margin-bottom: 200px;
  }
  @media (max-width: 768px) {
    width: 600px;
    margin-bottom: 200px;
  }

  @media (max-width: 575px) {
    display: flex;
    width: 350px;
    height: 440px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0;
    flex-direction: column;
    left: 0px;
    margin-bottom: 150px;
  }
}

.project_image {
  position: absolute;
  width: 980px;
  height: 295px;
  left: -128px;
  top: 101px;

  @media (max-width: 1400px) {
    width: 820px;
  }
  @media (max-width: 1280px) {
    width: 780px;
    height: 270px;
  }
  @media (max-width: 1200px) {
    width: 630px;
    left: -80px;
    height: 240px;
  }
  @media (max-width: 991px) {
    left: -70px;
    width: 528px;
    height: 200px;
  }
  @media (max-width: 768px) {
    width: 370px;
    height: 170px;
    left: -80px;
  }
  @media (max-width: 575px) {
    position: relative;
    width: 100%;
    height: 140px;
    left: auto;
    top: auto;
  }
}

.project_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #000000;

  @media (max-width: 575px) {
    padding: 0px 32px;
  }
}

.project_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* Black */
  color: #000000;

}

.description_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 240px;

  @media (max-width: 575px) {
    margin-top: 32px;
    width: 100%;
    padding: 0px 32px;
    max-width: 440px;
  }
}

.learn_more_container {
  border: 2px solid #000000;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.learn_more_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #000000;
  margin-right: 14px;
}

.quote_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.quote_line1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  /* identical to box height, or 100% */
}

.quote_line3 {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: center;

  color: #000000;
  /* identical to box height, or 100% */
}

.quote_line2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 60px;
  /* or 167% */
  text-align: center;

  /* Black */
  color: #000000;
}